* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f2f2f2;
  font-size: 1.25rem;
  line-height: 1.5;
}
.container {
  width: 1000px;
  margin: 0 auto;
  overflow: auto;
}
.main {
  margin-top: 30px;
}
.main .container {
  backgruond: #fff;
}
.header {
  background: #fff;
  margin-top: 0em;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.1);
}
.header .container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.header .container .blog-title {
  float: left;
  display: flex;
}
.header .container .blog-title .logo {
  color: #52565a;
  line-height: 70px;
  font-size: 20px;
  font-family: "Comic Sans Ms";
  text-decoration: none;
  font-weight: bold;
}
.header .container .blog-title .logo:visited {
  text-decoration: none;
}
.header .container .blog-title .logo .logo_pic {
  display: inline-block;
  width: 46px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../images/logo.jpg") no-repeat;
}
.header .container .menu {
  margin: 0;
  padding: 0;
}
.header .container .menu .menu-item {
  display: inline-block;
  padding: 0 20px;
  line-height: 66px;
  cursor: pointer;
}
.header .container .menu .menu-item.active {
  border-bottom: 2px solid #ea442a;
}
.header .container .menu .menu-item.active .menu-item-link {
  color: #ed6633;
}
.header .container .menu .menu-item:hover {
  border-bottom: 2px solid #ea442a;
}
.header .container .menu .menu-item:hover .menu-item-link {
  color: #ed6633;
}
.header .container .menu .menu-item-link {
  color: #52565a;
  font-size: 16px;
  text-decoration: none;
}
.post {
  padding: 25px 0;
  border-bottom: 1px dashed #d7d7d7;
}
.posts {
  background: #fff;
  padding: 30px 50px;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 18px;
  margin-bottom: 15px;
}
.posts .post-title .post-title-link {
  color: #52565a;
  text-decoration: none;
}
.posts .post-title .post-title-link:hover {
  color: #e94329;
}
.posts .post-content {
  font-size: 14px;
  color: #52565a;
  line-height: 24px;
  margin-bottom: 15px;
}
.posts .post-meta {
  color: #999;
  font-size: 13px;
}
